@import "tailwindcss";

:root {
  --accent-blue: #1d52e5;
  --muted-dark: #28334d;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter-sans: var(--font-inter-sans);
  --token-bb3680e9-7fc2-4dd0-b6fe-fcde212acb17: #fff;
  --token-a0f817e9-8687-4a56-b89f-933085d9afe0: #000;
  --token-be2dbe05-c07a-49e9-8b31-ac7f35ec4106: #1d52e5;
  --token-22ab0cf2-e139-42ef-a5f9-10fd69d821e3: #28334d;
  --token-c309c53b-0751-4a8a-9654-75cd9b5a1bcf: #8592b1;
  --token-3f3d365d-c9cd-4b60-89b6-ce4d9069f32d: #28334d99;
  --token-b11f32cd-61f4-496c-9bcc-2939a2be13f0: #111a3b;
  --token-603511f4-daed-4461-b963-0d12ecb0fd1b: #f5f6fa;
  --token-f1f69427-55f1-4736-9f04-12e29d72c9db: #ccd5e899;
  --token-d649b08b-b393-4dfd-9d66-edb3ef4af5ce: #dde3ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}




