

.section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.5rem;
    text-align: center;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 1rem;
  }
  
  .subHeading {
    color: #64748b;
    max-width: 32rem;
    margin-bottom: 4rem;
  }
  
  .grid {
    display: grid;
    gap: 2rem;
    width: 100%;
    max-width: 72rem;
  }
  
  @media (min-width: 768px) {
    .heading {
      font-size: 3.75rem;
    }
  
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .italic {
    font-style: italic;
    font-weight: 300;
  }
  